<% if @cached == true %>
  <h1>Forecasting weather from cached data for <%= params[:location] %></h1>
<% else %>
  <h1>Forecasting weather for <%= params[:location] %></h1>
<% end %>
<br>
<div>
  <h2>Current Weather</h2>
  <p>Time: <%= @forecast_data.current.item.time %></p>
  <p>Temperature: <%= @forecast_data.current.item.temperature_2m %> 째C</p>
  <p>Wind speed: <%= @forecast_data.current.item.windspeed_10m %> m/s</p>
  <p>Weather condition: <%= @forecast_data.current.item.weather_code_symbol %></p>
</div>
<br>
<div>
  <h2>Daily Weather</h2>
  <div class="d-flex">
    <% @forecast_data.daily.items.each do |item| %>
      <div>
        <p>Time: <%= item.time %></p>
        <p>Max. Temperature: <%= item.temperature_2m_max %> 째C</p>
        <p>Min. Temperature: <%= item.temperature_2m_min %> 째C</p>
        <p>Weather condition: <%= item.weather_code_symbol %> </p>
      </div>
    <% end %>
  </div>
</div>
<br>
<div>
  <h2>Hourly Weather</h2>
  <div class="d-flex">
    <% @forecast_data.hourly.items.each do |item| %>
      <div>
        <p>Time: <%= item.time %></p>
        <p>Temperature: <%= item.temperature_2m %> 째C</p>
        <p>Humidity: <%= item.relative_humidity_2m %>%</p>
        <p>Wind Speed: <%= item.windspeed_10m %> m/s</p>
      </div>
    <% end %>
  </div>
</div>